PORT=3002

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sale_service
DB_USER=postgres
DB_PASSWORD=password

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=sale-reservation-group

# Internal service URLs
INVENTORY_SERVICE_URL=http://localhost:3003
MARKETING_SERVICE_URL=http://localhost:3004
PAYMENT_SERVICE_URL=http://localhost:3005

# Reservation config
RESERVATION_EXPIRE_DAYS=30
